body {
	width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
	width : 100%;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

h1 {
	/* width: 100%; */
	text-align: center;
}

a {
	/* width: 100%; */
	text-align: center;
	margin-top: 10px;
}

img{
	width : 100px;
	margin:auto;
}

h2 {
    text-align: center;
    margin-top: 2em;
}

#profil{
    width: 50%;
    margin: 2% 20%;
    padding-left: 60px;
    border-style: groove;
    border-width: 4px;
    border-radius: 5px;
}

form {
    width: 80%;
    margin: 2em auto;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 70%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: teal;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 1em;
}

@media only screen and (max-width: 800px) {
	header {
        flex-wrap: wrap;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header a {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
        width: 60%;
    }
    
    #profil{
    width: 100%;
    margin: 0;
    padding-left: 0 10px 0 10px;
    border-style: groove;
    border-width: 4px;
    border-radius: 5px;
	}
}
