/* Mobile first */
:root {
    --primary-color: teal;
    --secondary-color: #f5f5f5;
    --body-font: Arial, sans-serif;
    --label-width: 150px;
}

header h1 {
	
	text-align: center;
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../medias/background.jpg");
	background-size: contain;
}

header {
	background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

h3 {
    text-align: center;
    margin-top: 2em;
}

form {
    width: 80%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    width: var(--label-width);
    text-align: left;
    margin-right: 1em;
    font-weight: bold;
}

select {
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"] {
    width: 80%;
    color : teal;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    form {
        width: 60%;
    }
    label {
        width: 100%;
        text-align: center;
    }
   
}
