body{
	text-align: center;
	background-color: teal;
background: rgb(102,40,122);
background: linear-gradient(50deg, rgba(102,40,122,1) 25%, rgba(0,196,137,1) 75%);
}

header{
	text-align: left;
	margin-left: 3%;
	margin-top: 3%;
}

form {
	display: block;
align-items: center;
	justify-content: center;
	margin: 0 auto;
}

formProfil{
	display: flex;
	}