.title {
	display: flex;
	justify-content: center;
	align-content: center;
}

header {
	text-align: right;
	background-color: teal;
}

.boiteArticle {
	width: 40%; /* == half the body's width */
	height: 200px; /* Note: a percentage would be 0 */
	background: lightgray;
	border: solid black 2px;
	float: left;
}

body {
	background-color: teal;
	font-family: ‘Lato’, sans-serif;
	margin-left: 3%;
	margin-top: 3%;
}

form {
	display: grid;
	place-content: center;
	min-height: 100vh;
}

.form-control {
	font-family: system-ui, sans-serif;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-control+.form-control {
	margin-top: 1em;
}

.form-control:focus-within {
	color: var(- -form-control-color);
}

input[type="radio"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(- -form-background);
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(- -form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

fieldset {
	overflow: hidden;

	text-align: center;
	border-radius: 10px;
}

.shopping {
	float: left;
	clear: none;
}