.title{
	display: flex;
	justify-content: center;
	align-content: center;
}

header{
	text-align: right;
}

.boiteArticle{
	
	width: 40%;     /* == half the body's width */
 	height: 200px;  /* Note: a percentage would be 0 */
 	background: lightgray;
	border: solid black 2px;
	float: left;
}

body{
	background-color: teal;
	font-family: ‘Lato’, sans-serif;
	margin-left: 3%;
	margin-top: 3%;
}

shopping{
	
	display: inline-block;
	text-align: center;
}

