form {
	display: block;
align-items: center;
	justify-content: center;
	margin: 0 auto;
}

body{
	text-align: center;
	background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	font-family: ‘Lato’, sans-serif;

}

header{
	text-align: left;
	margin-left: 3%;
	margin-top: 3%;
	background-image : url("/medias/eniLogo.png");
}

.button {
  background-color: silver;
  color: black;
  
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 90px;
  height: 50px;
}