/* /* A FINIR */

/* Mise en forme générale */
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../medias/background.jpg");
	background-size: cover;
	backdrop-filter: blur(3px);
}

/* Mise en forme de l'en-tête */
header {
	width: 100%;
	border-radius: 10px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header a{
	color: white;
	text-decoration:none;
}


a{
	color: black;
	text-decoration:none;
}

.list-article{
	display: grid;
	grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.btn-article{
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.btn-vendeur{
	padding: 15px;
	width: 100%;
    border-radius: 0 0 20px 20px;
    border-top: 0;
}

.margin-left-right-10px {
	margin-left: 10px;
	margin-right: 10px;
}

.margin-left-right-50px {
	margin-left: 50px;
	margin-right: 50px;
}

.padding-top-bottom-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.width-100 {
	width: 100%;
}

.justify-content-center {
	display: flex;
    align-items: center;
}

.display-grid {
	display: grid;
	grid-template-rows: repeat(3,1fr);
}

.space-evenly {
	justify-content: space-evenly;
    display: flex;
    margin: 0px;
}

.filter-form {
	display: flex;
}

h1{
	color : white;
}

/* Modifie la taille de la police pour les éléments de navigation */


label {
	font-weight: bold;
}

/* Modifie la taille des images */
img {
    width: 100px;
}

/* Mise en forme des éléments de la liste */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}



nav {
	font-size: 14px;
    background-color:#f5f5f5;
    opacity: 85%;
}


li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

li div {
    flex-basis: 30%;
    margin-right: 20px;
}

li img {
    max-width: 100%;
}

li ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li ul li {
    margin-bottom: 10px;
}

@media only screen and (min-width: 901px) {
/* Modifie la taille de la police pour les éléments de navigation */
	nav {
	font-size: 16px;
	}
	
	.list-article{
		display: grid;
		grid-gap: 50px;
	    grid-template-columns: repeat(4, 1fr);
	    margin-top: 50px;
	}
}

/* /* Responsive pour les éléments de la navigation */
@media only screen and (max-width: 900px) {
/* Modifie la taille de la police pour les éléments de navigation */
	nav {
	font-size: 16px;
	}
	
	.list-article{
		display: grid;
		grid-gap: 50px;
	    grid-template-columns: repeat(3, 1fr);
	    margin-top: 50px;
	}
}

@media only screen and (max-width: 600px) {
	
	.list-article{
		display: grid;
		grid-gap: 50px;
	    grid-template-columns: repeat(2, 1fr);
	    margin-top: 50px;
	}
	
	
	
    header {
        flex-wrap: wrap;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header a {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
	h1, h3, h4 {
	    font-size: 18px;
	    font-weight: bold;
    }

    form {
        flex-wrap: wrap;
    }

    li {
        flex-wrap: wrap;
    }

    li div {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
} 

@media only screen and (max-width: 420px) {
	
	.list-article{
		display: grid;
		grid-gap: 50px;
	    grid-template-columns: repeat(1, 1fr);
	    margin-top: 50px;
	}
}