body{
	text-align: center;
	margin-top: 150px;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../medias/background.jpg");
	background-size: cover;
	backdrop-filter: blur(3px);
}