/* Mobile first */
:root {
    --primary-color: teal;
    --secondary-color: #f5f5f5;
    --body-font: Arial, sans-serif;
    --label-width: 150px;
}

header h1 {
	
	text-align: center;
}

body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../medias/background.jpg");
	background-size: cover;
	backdrop-filter: blur(3px);
}

header {
	border-radius: 0 0 10px 10px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header a{
	color: white;
	text-decoration:none;
}

h3 {
    text-align: center;
    margin-top: 2em;
}

form {
    width: 80%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    width: var(--label-width);
    text-align: left;
    margin-right: 1em;
    font-weight: bold;
}

.flex{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

select {
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.padding-top-bottom-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

input[type="submit"] {
    background-color: teal;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 1em;
}

.centrer{
	
	display: flex;
	justify-content: center;
	align-items: center;
	}

input[type="button"] {
    background-color: teal;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 1em;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"] {
    width: 80%;
    color : teal;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

fieldset {
	background-color:  #f5f5f5;
	width: 400px;
	
}
/* Media Queries */
@media screen and (max-width: 600px) {
    form {
        width: 60%;
    }
    label {
        width: 100%;
        text-align: center;
    }
   
}
